.ba-card-breadcrumb {
    padding: 0 !important;
    .ba-breadcrumb {
        display: flex;
        height: 3.4rem;
        align-items: center;
        gap: 1rem;
        color: $light23;

        a {
            text-decoration: none;
        }

        .ba-item-previous,
        .ba-item-next {
            display: flex;
            background-color: $light22;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            border: none;
            align-items: center;
            justify-content: center;

            &:disabled {
                .ba-icon {
                    svg {
                        fill: $light16;
                    }
                }
            }

            .ba-icon {
                svg {
                    fill: $blue1;
                }
            }

            &:disabled {
                cursor: not-allowed;
            }

            &:not(:disabled):hover {
                cursor: pointer;
                background-color: $blue1;
                transition: .4s;

                .ba-icon {
                    svg {
                        fill: $white1;
                    }
                }
            }
        }

        .ba-item-previous {
            margin-left: 10px;
        }

        .ba-line {
            height: 2rem;
            width: 1px;
            border: none;
            background-color: $black20;
            margin: 0;
            padding: 0;
        }

        .ba-breadcrumb-ol {
            display: flex;
            align-items: center;
            text-align: center;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: .4rem;

            .ba-breadcrumb-item {
                font-weight: 600;
                font-size: .75rem;
                display: flex;
                align-items: center;
                gap: 8px;

                &:not(:last-child)::after {
                    width: 16px;
                    height: 16px;
                    content: close-quote;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M6 13.1662L10 9.1662L6 5.1662' stroke='currentColor' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
                }

                .ba-icon {
                    margin: 0px 4px;
                }

                &:hover,
                &:last-child {
                    color: $blue1;
                    transition: .4s;
                }

                &.ba-main-item:hover {
                    color: inherit;
                }
            }
        }
    }
}