/* Tabs */

.ba-box-tabs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    .ba-tab{
        font-size: .8rem;
        color: $dark5;
        border-radius: 4px;
        padding: .4rem 1rem;
        cursor: pointer;
        &:hover,
        &.ba-is-active{
            color: $blue19;
            background-color: $blue20;
        }
        &.ba-is-active{
            font-weight: 600;
        }
    }
}