// Body
$body-bg: #e9edf2;

// Typography
$font-family-sans-serif: Muli, Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.4;

// Colors
$blue: #0080fc;
$secondary: #6E6E6E;
$success: #01D4B9;
$danger: #FA4B57;
$warning: #FFB244;

$sidebar-width: 230px;
$sidebar-width-mini: 67px;
$header-height: 60px;
$sidebar-transition: .2s;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;